$main_color: #2872f8;
$secondery_color: #6616cb;
$bg_color: #f9fbff;
$card_bg: #c8d5e8;
// $bg_color: #0f172a;
$text_color: #333;
// $text_color: white;
$heading_color: #344161;
// $heading_color: #b9e0f2;
// #2e548c
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$gradient: linear-gradient(to right, $main-color, $secondery_color);
