.table {
  color: var(--text-color);
 tr td {
  img {
   width: 60px;
   object-fit: contain;
  }
  span {
    cursor: pointer;
  }
 }
}
.no-items  {
   color: var(--text-color);
}
.sub-total {
  padding-top: 10px;
  color: var(--text-color);

  h5  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-weight: bold;
      font-size: 23px;
    }
  }
  .my-btn {
    width: 100%;
    margin-top: 10px;
  }
}