// Variables
@use "../variables" as *;
.auth-btn {
 background-color: $main-color !important;
 color: white !important;
 padding: 7px 20px;
 margin-top: 20px;
}
.login-page {
   height: 90vh;
   display: flex;
   align-items:center ;
   justify-content: center;
   padding: 0;
 h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom:14px;
  
 }
 .login-form {
  background: linear-gradient(to right, $main-color, $secondery_color);
  padding: 20px;
  border-radius: 10px;
 }
 p {
  margin-top: 20px;
  color: white;
  a {
   padding-left: 4px;
   font-weight: bold;
   &:hover {
    color: $main-color;
   }
  }
 }
}
