/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}

img {
  width: 100%;
  height: 100%;
}

section {
  padding: 60px 0;
}

.heading {
  text-align: center;
  font-weight: bold;
  padding-bottom: 40px;
  color: #333;
}

.btn-awesome {
  background: linear-gradient(to right, #2872f8, #6616cb);
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.5s;
  border: none;
}
.btn-awesome:hover {
  transform: scale(1.05);
  color: white;
}

@media (min-width: 1400px) {
  .container {
    padding: 0 100px;
  }
}
.fa-facebook {
  color: #3a5a99;
}

.fa-whatsapp {
  color: #62cf6d;
}

.fa-linkedin {
  color: #0076b2;
}

.fa-twitter {
  color: #55acee;
}

.fa-instagram {
  color: #e4405f;
}

.fa-facebook:hover {
  color: #3a5a99;
}

.fa-whatsapp:hover {
  color: #62cf6d;
}

.fa-linkedin:hover {
  color: #0076b2;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-instagram:hover {
  color: #e4405f;
}

.Social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}
.Social-media a svg {
  font-size: 40px !important;
  transition: 0.3s;
  color: white;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products {
  gap: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.my-btn svg {
  font-size: 17px;
}

.my-btn {
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  padding: 6px 10px;
  border: 2px solid #2872f8;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.my-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, #2872f8, #6616cb);
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.my-btn:hover {
  color: white !important;
  top: 0;
}
.my-btn:hover:before {
  transform: scaleX(1);
}
.my-btn:hover svg {
  color: white;
}
.my-btn svg {
  font-size: 16px;
}
.my-btn:hover {
  transform: translatey(0px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.margin-fixed-header {
  margin-top: 70px;
}

a {
  transition: 0.3s;
}

header {
  position: fixed;
  top: 0;
  background-color: #f9fbff;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
}
@media (min-width: 567px) {
  header {
    padding: 2px 9%;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 70px;
}
header .navbar-menu a {
  color: #333;
  font-weight: bold;
  font-size: 15px;
  padding: 0 15px;
}
header .navbar-menu a:hover, header .navbar-menu a.active {
  color: #2872f8;
  color: #2872f8;
}
header .icons {
  display: flex;
  justify-content: center;
}
header .icons .icon {
  position: relative;
}
header .icons .icon span {
  position: absolute;
  top: -6px;
  right: 10px;
  background-color: #2872f8;
  color: white;
  border-radius: 50%;
  width: 15px;
  text-align: center;
  line-height: 1.3;
  font-size: 11px;
  font-weight: bold;
  height: 15px;
}
header .icons img {
  width: 30px;
}
header .icons #menu-bars,
header .icons svg {
  color: #2872f8;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  padding: 5px 10px;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: 0.2s;
}
header .icons #menu-bars {
  display: none;
}
header .icons #menu-bars:hover,
header .icons svg:hover {
  color: #fff;
  background-color: #6616cb;
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: block;
  }
  header .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f9fbff;
    border-top: solid 2px #999;
    border-bottom: solid 2px #999;
    transition: 0.2s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: block;
  }
  header .navbar-menu.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar-menu a {
    display: block;
    padding: 20px;
    margin: 10px;
    border: 2px solid #999;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
.hero {
  min-height: 100vh;
  background: center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .info {
  z-index: 2;
}
.hero .info h2 {
  font-weight: bold;
  font-size: 70px;
  color: #2872f8;
}
.hero .info P {
  color: white;
  max-width: 400px;
}
.features {
  background-color: #f9fbff;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.features .feat {
  width: 217px;
  padding: 20px;
  background: linear-gradient(to left top, rgba(60, 128, 253, 0.4862745098), rgba(145, 63, 245, 0.5137254902));
  border-radius: 7px;
  transition: 0.6s;
}
.features .feat:hover {
  transform: scale(1.1);
}
.features .feat:hover .info {
  transform: translateY(-2px);
}
.features .feat .info {
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f9fbff;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.features .feat .info .icon {
  width: 80px;
  height: 80px;
  background-color: #f9fbff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 15px 0 12px 0;
  position: relative;
}
.features .feat .info .icon svg {
  position: absolute;
  font-size: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #2872f8;
}
.features .feat .info p {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.free-shipping {
  background-color: #f9fbff;
}
.free-shipping .row {
  padding: 10px;
}
.free-shipping .title {
  padding: 0;
  border-bottom: solid 2px #ddd;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .free-shipping .title {
    border-bottom: none;
    border-right: solid 2px #ddd;
  }
}
.free-shipping .title h2 {
  font-weight: bold;
  font-size: 35px;
  color: #344161;
}
@media (min-width: 576px) {
  .free-shipping .title h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .free-shipping .title h2 {
    font-size: 45px;
  }
}
.free-shipping .desc {
  padding: 0;
  padding-top: 15px;
}
.free-shipping .desc .icons {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}
.free-shipping .desc .icons .icon {
  width: 30px;
}
@media (min-width: 992px) {
  .free-shipping .desc {
    padding: 0;
    padding-left: 100px;
  }
}
.free-shipping .desc p {
  color: #333;
}

.about {
  background-color: #fff;
}
.about h2 {
  font-size: 40px;
  font-weight: bold;
  color: #344161;
}
@media (max-width: 1200px) {
  .about h2 {
    padding-top: 20px;
  }
}
.about h2 span {
  color: rgb(11, 209, 209);
}
.about p {
  line-height: 2;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  color: #333;
}
@media (max-width: 1200px) {
  .about p {
    line-height: 1.8;
  }
}
@media (min-width: 1200px) {
  .about .btn {
    margin: 10px 0 30px 0;
  }
}
.about img {
  border-radius: 20px;
}

.featured-products {
  background-color: #f9fbff;
  padding-bottom: 25px;
}

.bg-clr {
  background-color: #f9fbff;
}

.product-card {
  max-width: 250px !important;
  padding: 0;
  border-radius: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s all ease;
  background-color: #f9fbff;
  color: #333;
  position: relative;
  width: 100%;
  margin: auto;
}
.product-card span svg {
  position: absolute;
  transition: 0.3s;
  font-size: 20px;
  color: #2872f8;
  cursor: pointer;
  right: 0;
  top: 0;
  padding: 4px 10px;
}
.product-card span svg:hover {
  transform: scale(1.1);
}
.product-card img {
  border-radius: 0;
}
.product-card .card-title {
  font-size: 17px;
}
.product-card:hover {
  transform: translatey(-10px);
}
.product-card h5 {
  font-weight: bold;
}
.product-card p {
  text-align: center;
}

.timer {
  background-color: #2872f8;
  max-width: 1049px;
  margin: auto;
  border-radius: 65px;
  padding: 50px;
}
.timer .image {
  width: 300px;
  margin: auto;
}
.timer .time-wrapper {
  padding: 20px 0;
}
.timer .title {
  font-size: 17px;
}
.timer .btn {
  background-color: white !important;
  padding: 12px 20px;
  font-weight: bold;
  transition: 0.3s;
}
.timer .btn:hover {
  border: solid 1px #2872f8;
  color: black;
}

@media (max-width: 768px) {
  .timer {
    border-radius: 0;
  }
  .timer .images {
    margin-left: auto;
  }
}
footer {
  /* Start Contact Section */
  background-color: #f9fbff;
}
footer .contact {
  background-color: #f9fbff;
}
footer .contact > .container {
  border-bottom: 1px solid #ddd;
}
@media (min-width: 992px) {
  footer .contact > .container {
    padding-bottom: 100px !important;
  }
}
footer .row h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
footer .row p {
  font-size: 14px;
  color: #333;
  margin-bottom: -4px;
}
footer .row form {
  padding: 0 10px;
  border: 0 !important;
}
@media (min-width: 992px) {
  footer .row form {
    padding: 0 12px;
  }
}
@media (max-width: 992px) {
  footer .row form {
    padding: 20px 10px !important;
  }
}
footer .row form input,
footer .row form textarea {
  margin: 0;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
footer .row form input::-moz-placeholder, footer .row form textarea::-moz-placeholder {
  font-style: italic;
  opacity: 0.8;
  font-size: 12px;
}
footer .row form input::placeholder,
footer .row form textarea::placeholder {
  font-style: italic;
  opacity: 0.8;
  font-size: 12px;
}
footer .row form input:focus,
footer .row form textarea:focus {
  color: #333;
  background-color: #fff;
  border-color: #737373;
  outline: 0;
}
@media (max-width: 992px) {
  footer .row form input:not(.code) {
    margin-top: 10px;
  }
}
@media (min-width: 576px) {
  footer .row form input {
    width: 47%;
  }
  footer .row form input:first-of-type {
    margin-right: 4.84%;
  }
}
footer .row form textarea {
  height: unset;
  margin: 10px 0;
}
footer .row form .btn {
  background-color: #2872f8;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 1.5;
  position: relative;
  font-size: 14px;
  background: linear-gradient(to right, #2872f8, #6616cb);
  padding: 12px 28px;
  overflow: hidden;
  z-index: 12;
}
footer .row form .btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #2872f8, #6616cb);
  transition: 0.3s linear;
}
footer .row form .btn:hover::before {
  border: 1px solid transparent;
  border-color: #2872f8;
}
footer .row form .code {
  width: 120px;
  margin-left: 30px;
}
footer .footer-lg .image {
  width: 150px;
  margin: -15px;
}
footer .footer-lg p {
  padding: 10px 0;
  padding-top: 20px;
  font-size: 16px;
  margin: 0;
  line-height: 1.3;
}
footer .footer-lg h3 {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}
footer .footer-lg ul li {
  padding: 3px 0;
  letter-spacing: 0.4px;
  color: #333;
}
footer .footer-lg ul li a {
  font-size: 16px;
  transition: 0.4s color;
}
footer .footer-lg ul li a:hover {
  color: #2872f8 !important;
}
footer .footer-lg ul li svg {
  font-size: 18px;
  padding-right: 4px;
}
footer .copyrights {
  text-align: center;
  padding: 50px 0;
  padding-bottom: 62px;
  color: #1d1d1d;
  font-size: 13px;
}

footer.sm {
  font-size: 16px;
}
footer.sm .footer .accordion-item {
  background-color: transparent;
}
footer.sm .footer button {
  box-shadow: none !important;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  padding-left: 0;
  padding-right: 0;
}
footer.sm .footer button::after {
  color: #333;
  background-color: unset;
}
footer.sm .footer button:not(.collapsed) {
  color: unset;
  background-color: unset;
  box-shadow: none;
}
footer.sm .footer .accordion-body {
  padding-left: 0;
  padding-right: 0;
}
footer.sm .footer .accordion-body .image {
  width: 150px;
  margin: -15px;
  margin: auto;
  padding-bottom: 20px;
}
footer.sm .footer .accordion-body span {
  transition: 0.4s color;
}
footer.sm .footer .accordion-body span:hover {
  color: #2872f8;
}
footer.sm .footer .accordion-body ul li {
  padding: 5px 0;
  transition: 0.4s color;
}
footer.sm .footer .accordion-body ul li a {
  font-size: 18px;
}
footer.sm .footer .accordion-body ul li:hover {
  color: #2872f8;
}
footer.sm h3 {
  margin: 0;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}
footer.sm .contact > .container {
  border: none !important;
}
footer.sm .contact input {
  margin-bottom: 5px !important;
}
footer.sm .social-sm {
  padding: 26px 0;
}
footer.sm .social-sm a {
  font-size: 25px;
}
footer.sm .social-sm h3 {
  padding: 0;
}
footer.sm .copyrights {
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 15px;
  padding: 20px 0;
}

/* End Contact Section */
.common-section {
  text-align: center;
  padding: 150px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}
.common-section h1 {
  color: white;
  font-weight: bold;
  z-index: 2;
  position: relative;
}

.product-page {
  padding-top: 30px;
}
.product-page .row {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter-widget select {
  padding: 5px 10px;
  border: solid 1px #2872f8;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.search-box {
  width: 100%;
  border: solid 1px #2872f8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.search-box input {
  border: 0;
  width: 100%;
}

.product-image {
  max-width: 450px;
  margin: auto;
}

.product-datails {
  color: #777;
  font-size: 14px;
}
.product-datails h2 {
  color: #000;
}
@media (max-width: 992px) {
  .product-datails {
    margin: 10px 0;
  }
}
.product-datails .rating {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.product-datails .rating .product-rating {
  color: coral;
  font-size: 17px;
  display: flex;
  gap: 2px;
}
.product-datails .rating .avg-rating span {
  color: coral;
  font-weight: bold;
}
.product-datails .price {
  font-size: 25px;
}
.product-datails .short-desc {
  margin: 20px 0;
  margin-bottom: 40px;
}
.product-datails .catagory span {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
.product-datails .buy-btn {
  background-color: #2872f8;
  color: white;
  border-radius: 4px;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}

.reviews-and-desc .tab-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-and-desc .tab-wrapper .tab {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: white;
}
.reviews-and-desc .tab-wrapper .tab.active-tab {
  background-color: #eee;
}
.reviews-and-desc .tab-content {
  padding: 30px 5px;
}
.reviews-and-desc .tab-content ul {
  padding: 0;
}
.reviews-and-desc .tab-content ul li {
  margin-bottom: 20px;
}
.reviews-and-desc .tab-content ul span {
  color: coral;
  font-size: 13px;
  font-weight: bold;
}
.reviews-and-desc .tab-content ul p {
  color: #777;
  font-style: 14px;
  margin-top: 10px;
}

.review-form textarea,
.review-form input {
  padding: 5px 20px;
  width: 100%;
  border-radius: 8px;
  border: solid 1px #ccc;
}
.review-form span {
  color: coral;
  padding: 0 5px;
  cursor: pointer;
}
.review-form .form-group {
  margin: 10px 0;
}

.related-title {
  font-size: 40px;
  padding-left: 30px;
}

@media (max-width: 992px) {
  .related-title {
    font-size: 30px;
  }
}
.table tr td img {
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.table tr td span {
  cursor: pointer;
}

.sub-total {
  padding-top: 10px;
}
.sub-total h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-total h5 span {
  font-weight: bold;
  font-size: 23px;
}
.sub-total .my-btn {
  width: 100%;
  margin-top: 10px;
}

.billing-form input:focus {
  outline: none;
  box-shadow: none;
}

.checkout-cart {
  padding: 20px;
  background: linear-gradient(to right, #2872f8, #6616cb);
  color: white;
  border-radius: 10px;
}
.checkout-cart h2,
.checkout-cart h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-cart h6 {
  margin-bottom: 10px;
}
.checkout-cart h2 {
  margin-bottom: 10px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.checkout-cart .btn {
  width: 100%;
  margin-top: 10px;
}

.auth-btn {
  background-color: #2872f8 !important;
  color: white !important;
  padding: 7px 20px;
  margin-top: 20px;
}

.login-page {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.login-page h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 14px;
}
.login-page .login-form {
  background: linear-gradient(to right, #2872f8, #6616cb);
  padding: 20px;
  border-radius: 10px;
}
.login-page p {
  margin-top: 20px;
  color: white;
}
.login-page p a {
  padding-left: 4px;
  font-weight: bold;
}
.login-page p a:hover {
  color: #2872f8;
}/*# sourceMappingURL=App.css.map */