@use "../variables" as *;
.about {
  background-color: $bg_color;
  h2 {
    font-size: 40px;
    font-weight: bold;
    color: $heading_color;
    @media (max-width: 1200px) {
      padding-top: 20px;
    }
    span {
      color: rgb(11 209 209);
    }
  }
  p {
    line-height: 2;
    @media (max-width: 1200px) {
      line-height: 1.8;
    }
    padding: 10px 0;
    font-size: 16px;
    color: $text_color;
    color: $text_color;
  }
  .btn {
    @media (min-width: 1200px) {
      margin: 10px 0 30px 0;
    }
  }

  img {
    border-radius: 20px;
  }
}
