@use "../variables" as *;

.features {
  // background-color: #171717;
  background-color: $bg_color;
  &::after {
    content: "";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
  }
  .feat {
    width: 217px;
    // height: 200px;
    padding: 20px;
    background: linear-gradient(to left top, #3c80fd7c, #913ff583);
    border-radius: 7px;
    transition: 0.6s;
    &:hover {
      transform: scale(1.1);
      .info {
        transform: translateY(-2px);
      }
    }
    .info {
      transition: 0.6s;
      width: 100%;
      height: 100%;
      // background-color: #fff;
      background-color: $bg-color;

      border-radius: 7px;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      .icon {
        width: 80px;
        height: 80px;
        background-color: $bg-color;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        margin: 15px 0 12px 0;
        position: relative;
        svg {
          position: absolute;
          font-size: 40px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $main-color;
        }
      }
      p {
        font-size: 22px;
        // color: #444;
        color: $text_color;
        font-weight: bold;
        letter-spacing: -1px;
        margin-bottom: 10px;
      }
    }
  }
}
