@use "../variables" as *;

.product-card {
  max-width: 250px !important;
  padding: 0;
  border-radius: 0;
  box-shadow: $shadow;
  transition: 0.3s all ease;
  background-color: $bg-color;
  position: relative;
  span svg {
    position: absolute;
    transition: 0.3s;
    font-size: 20px;
    color: $main-color;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    right: 0;
    top: 0;
    padding: 4px 10px;
  }
  img {
    border-radius: 0;
  }
  .card-title {
    font-size: 17px;
  }
  &:hover {
    transform: translatey(-10px);
  }
  h5 {
    font-weight: bold;
  }
  p {
    text-align: center;
  }
}
